## Dealing Part1
- delete redundant/useless cols and rows after 1st slicing

In [19]:
import pandas as pd

In [20]:
df = pd.read_csv("points_slice_info_plane3.csv")
df.head()

,X,Y,Z,Slice_Index,Adjusted_X,Adjusted_Y,Adjusted_Z
0,-0.211594,-3.159180,0.292282,0.0,-0.211594,-3.159180,0.292282
1,-0.209300,-3.245606,0.538466,0.0,-0.209300,-3.245606,0.538466
2,-0.207960,-3.091518,0.086628,0.0,-0.207960,-3.091518,0.086628
3,-0.206295,-3.168202,0.330361,0.0,-0.206295,-3.168202,0.330361
4,-0.206170,-3.142314,0.273692,0.0,-0.206170,-3.142314,0.273692

In [21]:
df = df[~((df['X'] == 0) & (df['Y'] == 0) & (df['Z'] == 0))]
df.shape

(16048, 7)

In [22]:
# 删除特定的列
df = df.drop(['Adjusted_X', 'Adjusted_Y', 'Adjusted_Z'], axis=1)
df.shape

(16048, 4)

In [24]:
df2 = pd.read_csv("points_adjusted_positions_plane3.csv")
df2.head()

   Adjusted_X  Adjusted_Y  Adjusted_Z
0   -0.211594   -3.159180    0.292282
1   -0.209300   -3.245606    0.538466
2   -0.207960   -3.091518    0.086628
3   -0.206295   -3.168202    0.330361
4   -0.206170   -3.142314    0.273692

In [25]:
df2 = df2[~((df2['Adjusted_X'] == 0) & (df2['Adjusted_Y'] == 0) & (df2['Adjusted_Z'] == 0))]
df2.shape

(16048, 3)

In [26]:
#to_csv
df.to_csv("plane3_info.csv",index=False)
df2.to_csv("plane3_adjust1.csv",index=False)

In [27]:
a = pd.read_csv("plane3_adjust1.csv")
a.dtypes

Adjusted_X    float64
Adjusted_Y    float64
Adjusted_Z    float64
dtype: object

In [9]:
b = pd.read_csv("./plane3_split/info/slice_0_slice_with_gap_000.csv")
b.dtypes

Adjusted_X     float64
Adjusted_Y     float64
Adjusted_Z     float64
Slice_Index      int64
dtype: object