## 组合两步后得到的结果

In [8]:
import pandas as pd
import numpy as np

In [9]:
file_1 = pd.read_csv("plane3_info.csv")
file_1.head()

          X         Y         Z  Slice_Index
0 -0.211594 -3.159180  0.292282          0.0
1 -0.209300 -3.245606  0.538466          0.0
2 -0.207960 -3.091518  0.086628          0.0
3 -0.206295 -3.168202  0.330361          0.0
4 -0.206170 -3.142314  0.273692          0.0

In [10]:
file_2 = pd.read_csv("plane3_adjust1.csv")
file_2.head()

   Adjusted_X  Adjusted_Y  Adjusted_Z  Slice_Index
0   -0.211594   -3.159180    0.292282          0.0
1   -0.209300   -3.245606    0.538466          1.0
2   -0.207960   -3.091518    0.086628          0.0
3   -0.206295   -3.168202    0.330361          0.0
4   -0.206170   -3.142314    0.273692          0.0

In [11]:
file_fin = pd.DataFrame()
file_fin

Empty DataFrame
Columns: []
Index: []

In [12]:
file_fin["X"] = file_1["X"]
file_fin["Y"] = file_1["Y"]
file_fin["Z"] = file_1["Z"]
file_fin["Slice_Index_1"] = file_1["Slice_Index"]
file_fin["Slice_Index_2"] = file_2["Slice_Index"]

In [13]:
file_fin.head()

          X         Y         Z  Slice_Index_1  Slice_Index_2
0 -0.211594 -3.159180  0.292282            0.0            0.0
1 -0.209300 -3.245606  0.538466            0.0            1.0
2 -0.207960 -3.091518  0.086628            0.0            0.0
3 -0.206295 -3.168202  0.330361            0.0            0.0
4 -0.206170 -3.142314  0.273692            0.0            0.0

In [14]:
file_fin.to_csv("file_fin_plane3.csv",index=False)